input, button {
    &[type="search"] {
        padding: .25rem;
        border: 3px solid rgb(var(--primary-color-vals));
        border-radius: 1rem;
    }
    &[type="button"] {
        cursor: pointer;
        padding: .25rem;
        border-radius: .5rem;
        &:hover {
            background-color: rgba(244, 244, 244, 0.5)
        }
        transition: .3s;
    }
    background-color: rgb(224, 224, 224);
}

#product-search {
    width: 100%;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
}

#search-button {
    background-color: rgb(var(--primary-color-vals));
    border: 3px solid rgb(var(--primary-color-vals));
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    &:hover {
        background-color: rgba(var(--primary-color-vals), 0.5)
    }
    transition-duration: .4s;
}

.search {
    width: 20vw;
    display: flex;
    justify-content: center;
}

#logo {
    height: 50px;
}

#cart-icon {
    height: 40px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f3f2;
    padding: 0.3rem;

    --primary-color-vals: 143, 178, 209;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        margin: 0.5rem;
    }
    &#logo-section {
        justify-content: left;
    }
    &#options-section {
        justify-content: right;
    }
}

.options {
    display: flex;
    align-items: center;
    * {
        margin: 0 0.5rem;
    }
    button {
        background-color: rgb(143, 178, 209);
        border: none;
        height: 2.5rem;
        padding: 0 1rem;

        &:hover {
            background-color: rgba(143, 178, 209, 0.5);
            border-radius: 1rem;
        }
    }
}

#cart-button {
    background-color: transparent;
    height: 3rem;
    padding: 0;
}
